.cart-card {
  width: 100%;
  max-width: 750px;
  height: 200px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;                 
}

.cart-col {
  height: 100%;
}

.cartimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.qty{
  display: flex;
  
}
